/*reset pagina*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}


/*selettori per tutta la pagina*/
 
.container{
    width: 70%;
    margin: 0 auto;
}

.bg-white{
    background-color: #ffff;
}

.rounded{
    border-radius: 5px;
}


header{
    height: 70px;
    padding-left: 20px;
    margin-bottom: 30px;
    
}

#logo{
    height: 50px;
    vertical-align: middle;
}

#logo-text{
    display: inline;
    line-height: 70px;
    font-weight: 900;
    font-size: 38px;
    vertical-align: middle;
}

/*main*/
.btn{
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    font-size: 14px;

}

.btn-blue{
    background-color: rgb(35, 124, 240);
    color: #ffff;
    border-color: rgb(35, 124, 240);
}

.btn-white{
    background-color: #ffff;
    color: rgb(177, 156, 156);
}


#header-button{
    padding: 20px 30px;
    border-bottom: 2px solid #f6f8f9;
}

.tasks{ /*task*/
    padding: 20px 30px;
}

h3{
    margin:20px 0;
}

ul{
    list-style-type: none;
}

li{
    font-size: 16px;
    margin-top: 10px;
}

/*task*/
.circle::before{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 2px ;
}
.done::before{
    content: '\2713';
    font-size: 12px;
    border: 1px solid green;
    color: green ;
    font-weight: 900;
    
}

.undone::before{
    content: '\1f5f4';
    font-size: 12px;
    border: 1px solid red;
    color: red ;
    font-weight: 900;
}


.btn-tasks{
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 20px;
    background-color: transparent;
    font-size: 11px;
}

.editorial{
    background-color: rgb(35, 124, 240);
    color: #ffff;
    border-color: rgb(35, 124, 240);
}

.q1-goals{
    background-color: rgb(158, 17, 251);
    color: #ffff;
    border-color: rgb(158, 17, 251);
}
.recruiting{
    background-color: rgb(68, 123, 160);
    color: #ffff;
    border-color: rgb(68, 123, 160);
}
.mobile{
    background-color: rgb(251, 111, 17);
    color: #ffff;
    border-color: rgb(251, 111, 17);
}
.website{
    background-color: rgb(223, 39, 152);
    color: #ffff;
    border-color: rgb(223, 39, 152);
}
.sales{
    background-color: rgb(181, 251, 17);
    color: #ffff;
    border-color: rgb(181, 251, 17);
}


/*
#editorial-button{
    background-color: rgb(34, 143, 246);
    color: white;
    border-style: none;
    margin-left: 5px;
    border-radius: 20px;
    padding: 0px 5px;
    height: 30px;
    width: 70px;
}

#q1-goals{
    background-color: rgb(130, 8, 245);
    color: white;
    border-style: none;
    margin-left: 5px;
    border-radius: 20px;
    padding: 0px 5px;
    height: 30px;
    width: 80px;
}

#recruiting{
    background-color: rgb(86, 145, 200);
    color: white;
    border-style: none;
    margin-left: 5px;
    border-radius: 20px;
    padding: 0px 5px;
    height: 30px;
    width: 80px;
}

#mobile{
    background-color: rgb(246, 104, 9);
    color: white;
    border-style: none;
    margin-left: 5px;
    border-radius: 20px;
    padding: 0px 5px;
    height: 30px;
    width: 70px;
}
#website{
    background-color: rgb(246, 9, 175);
    color: white;
    border-style: none;
    margin-left: 5px;
    border-radius: 20px;
    padding: 0px 5px;
    height: 30px;
    width: 70px;
}

#sales{
    background-color: rgb(139, 255, 30);
    color: white;
    border-style: none;
    margin-left: 5px;
    border-radius: 20px;
    padding: 0px 5px;
    height: 30px;
    width: 70px;
}*/